## Assignment-3: Linear Models

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("mobile_price_data.csv")
df

,mobile_name,mobile_price,mobile_color,dual_sim,disp_size,resolution,os,num_cores,mp_speed,int_memory,ram,p_cam,f_cam,network,bluetooth,battery_power,mob_width,mob_height,mob_depth,mob_weight
0,"Realme Narzo 10A (So White, 32 GB)","₹8,999",So White,Dual Sim,16.56 cm (6.52 inch),1600 x 720 Pixels,Android 10,Octa Core,2 GHz,32 GB,3 GB,12MP + 2MP + 2MP,5MP Front Camera,"4G VOLTE, 4G, 3G, 2G",Yes,5000 mAh,75 mm,164.4 mm,8.95 mm,195 g
1,"Realme Narzo 10A (So Blue, 32 GB)","₹8,999",So Blue,Dual Sim,16.56 cm (6.52 inch),1600 x 720 Pixels,Android 10,Octa Core,2 GHz,32 GB,3 GB,12MP + 2MP + 2MP,5MP Front Camera,"4G VOLTE, 4G, 3G, 2G",Yes,5000 mAh,75 mm,164.4 mm,8.95 mm,195 g
2,"Realme Narzo 10A (So Blue, 64 GB)","₹9,999",So Blue,Dual Sim,16.56 cm (6.52 inch),1600 x 720 Pixels,Android 10,Octa Core,2 GHz,64 GB,4 GB,12MP + 2MP + 2MP,5MP Front Camera,"4G VOLTE, 4G, 3G, 2G",Yes,5000 mAh,75 mm,164.4 mm,8.95 mm,195 g
3,"Realme Narzo 10A (So White, 64 GB)","₹9,999",So White,Dual Sim,16.56 cm (6.52 inch),1600 x 720 Pixels,Android 10,Octa Core,2 GHz,64 GB,4 GB,12MP + 2MP + 2MP,5MP Front Camera,"4G VOLTE, 4G, 3G, 2G",Yes,5000 mAh,75 mm,164.4 mm,8.95 mm,195 g
4,"Realme Narzo 10 (That Green, 128 GB)","₹11,999",That Green,Dual Sim,16.51 cm (6.5 inch),1600 x 720 Pixels,Android 10,Octa Core,2 GHz,128 GB,4 GB,48MP + 8MP + 2MP + 2MP,16MP Front Camera,"4G VOLTE, 4G, 3G, 2G",Yes,5000 mAh,75.4 mm,164.4 mm,9 mm,199 g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
454,"OPPO A83 (Black, 32 GB)","₹13,490",Black,Dual Sim,14.48 cm (5.7 inch),1440 x 720 Pixels,Android Nougat 7.1,Octa Core,2.5 GHz,32 GB,3 GB,13MP Rear Camera,8MP Front Camera,"3G, 4G VOLTE, 2G",Yes,3180 mAh,73.1 mm,150.5 mm,7.7 mm,143 g
455,"OPPO A83 (Red, 16 GB)","₹9,490",Red,Dual Sim,14.48 cm (5.7 inch),1440 x 720 Pixels,Android Nougat 7.1,Octa Core,2.5 GHz,16 GB,2 GB,13MP Rear Camera,8MP Front Camera,"3G, 4G VOLTE, 4G, 2G",Yes,3180 mAh,73.1 mm,150.5 mm,7.7 mm,143 g
456,"OPPO F7 (Red, 64 GB)","₹22,990",Red,Dual Sim,15.82 cm (6.23 inch),2280 x 1080 Pixels,Android Oreo 8.1.0,Octa Core,2 GHz,64 GB,4 GB,16MP Rear Camera,25MP Front Camera,"3G, 4G, 2G",Yes,3400 mAh,75.3 mm,156 mm,7.8 mm,158 g
457,"OPPO F11 (Marble Green, 128 GB)","₹13,990",Marble Green,Dual Sim,16.59 cm (6.53 inch),1080 x 2340 pixels,Android Pie 9.0,Octa Core,2.1 GHz,128 GB,4 GB,48MP + 5MP,16MP Front Camera,"3G, 4G VOLTE, 4G, 2G",Yes,4020 mAh,76.1 mm,162 mm,8.3 mm,188 g
458,"OPPO F11 (Fluorite Purple, 128 GB)","₹13,990",Fluorite Purple,Dual Sim,16.59 cm (6.53 inch),1080 x 2340 pixels,Android Pie 9.0,Octa Core,2.1 GHz,128 GB,4 GB,48MP + 5MP,16MP Front Camera,"3G, 4G VOLTE, 4G, 2G",Yes,4020 mAh,76.1 mm,162 mm,8.3 mm,188 g

In [3]:
df.shape

(459, 20)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 459 entries, 0 to 458
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   mobile_name    459 non-null    object
 1   mobile_price   459 non-null    object
 2   mobile_color   459 non-null    object
 3   dual_sim       459 non-null    object
 4   disp_size      459 non-null    object
 5   resolution     459 non-null    object
 6   os             459 non-null    object
 7   num_cores      459 non-null    object
 8   mp_speed       459 non-null    object
 9   int_memory     459 non-null    object
 10  ram            459 non-null    object
 11  p_cam          459 non-null    object
 12  f_cam          459 non-null    object
 13  network        459 non-null    object
 14  bluetooth      459 non-null    object
 15  battery_power  459 non-null    object
 16  mob_width      459 non-null    object
 17  mob_height     459 non-null    object
 18  mob_depth      459 non-null    object
 19  mob_weight     459 non-null    object
dtypes: object(20)
memory usage: 71.8+ KB

In [5]:
df.isna().sum()

mobile_name      0
mobile_price     0
mobile_color     0
dual_sim         0
disp_size        0
resolution       0
os               0
num_cores        0
mp_speed         0
int_memory       0
ram              0
p_cam            0
f_cam            0
network          0
bluetooth        0
battery_power    0
mob_width        0
mob_height       0
mob_depth        0
mob_weight       0
dtype: int64

In [6]:
df['mob_weight']=df['mob_weight'].str.replace('g','')

In [7]:
df['mob_height']=df['mob_height'].str.replace('mm','')
df['mob_depth']=df['mob_depth'].str.replace('mm','')
df['mob_width']=df['mob_width'].str.replace('mm','')
df['battery_power']=df['battery_power'].str.replace('mAh','')

In [8]:
df['mp_speed']=df['mp_speed'].str.replace('GHz','')
df['int_memory']=df['int_memory'].str.replace('GB','')
df['ram']=df['ram'].str.replace('GB','')

In [9]:
df['bluetooth'].value_counts()

Yes    459
Name: bluetooth, dtype: int64

In [10]:
df.drop('bluetooth',axis=1,inplace=True)

In [11]:
df.head()

,mobile_name,mobile_price,mobile_color,dual_sim,disp_size,resolution,os,num_cores,mp_speed,int_memory,ram,p_cam,f_cam,network,battery_power,mob_width,mob_height,mob_depth,mob_weight
0,"Realme Narzo 10A (So White, 32 GB)","₹8,999",So White,Dual Sim,16.56 cm (6.52 inch),1600 x 720 Pixels,Android 10,Octa Core,2,32,3,12MP + 2MP + 2MP,5MP Front Camera,"4G VOLTE, 4G, 3G, 2G",5000,75,164.4,8.95,195
1,"Realme Narzo 10A (So Blue, 32 GB)","₹8,999",So Blue,Dual Sim,16.56 cm (6.52 inch),1600 x 720 Pixels,Android 10,Octa Core,2,32,3,12MP + 2MP + 2MP,5MP Front Camera,"4G VOLTE, 4G, 3G, 2G",5000,75,164.4,8.95,195
2,"Realme Narzo 10A (So Blue, 64 GB)","₹9,999",So Blue,Dual Sim,16.56 cm (6.52 inch),1600 x 720 Pixels,Android 10,Octa Core,2,64,4,12MP + 2MP + 2MP,5MP Front Camera,"4G VOLTE, 4G, 3G, 2G",5000,75,164.4,8.95,195
3,"Realme Narzo 10A (So White, 64 GB)","₹9,999",So White,Dual Sim,16.56 cm (6.52 inch),1600 x 720 Pixels,Android 10,Octa Core,2,64,4,12MP + 2MP + 2MP,5MP Front Camera,"4G VOLTE, 4G, 3G, 2G",5000,75,164.4,8.95,195
4,"Realme Narzo 10 (That Green, 128 GB)","₹11,999",That Green,Dual Sim,16.51 cm (6.5 inch),1600 x 720 Pixels,Android 10,Octa Core,2,128,4,48MP + 8MP + 2MP + 2MP,16MP Front Camera,"4G VOLTE, 4G, 3G, 2G",5000,75.4,164.4,9,199

In [12]:
df['num_cores'].value_counts()

Octa Core      444
Quad Core       14
Single Core      1
Name: num_cores, dtype: int64

In [13]:
df['num_cores']=df['num_cores'].map({'Octa Core':8,'Quad Core':4,'Single Core':1})

In [14]:
df['dual_sim'].value_counts()

Dual Sim      458
Single Sim      1
Name: dual_sim, dtype: int64

In [15]:
df.drop('dual_sim',axis=1,inplace=True)

In [16]:
df['os'].unique()

array(['Android 10', 'Android Pie 9.0', 'Android Pie 9',
       'Android Oreo 8.1', 'Android Pie 10', 'Android Nougat 7.1.1',
       'Android Oreo 8.0', 'Android Nougat 7.1.2', 'Android KitKat 4.4.2',
       'Android Marshmallow 6.0.1', 'Android Nougat 7.1',
       'Android Marshmallow 6', 'Android Nougat 7',
       'Android Lollipop 5.4.1', 'Android Oreo 8.1.0', 'Android Oreo 8',
       'Android Lollipop 5.1', 'Android Lollipop 5.1.1'], dtype=object)

In [17]:
df['os']=df['os'].str.replace(r'^Android\s[a-zA-Z]*\s?',r'',regex=True)

In [18]:
df['os'].unique()

array(['10', '9.0', '9', '8.1', '7.1.1', '8.0', '7.1.2', '4.4.2', '6.0.1',
       '7.1', '6', '7', '5.4.1', '8.1.0', '8', '5.1', '5.1.1'],
      dtype=object)

In [19]:
df[['os','hoax1','hoax2']]=df['os'].str.partition('.')

In [20]:
df.drop(['hoax1','hoax2'],axis=1,inplace=True)

In [21]:
df['os'].value_counts()

9     208
8     122
10     84
7      34
6       5
5       5
4       1
Name: os, dtype: int64

In [22]:
df['mobile_price']=df['mobile_price'].replace(['₹',','],'',regex=True)

In [23]:
df.head()

,mobile_name,mobile_price,mobile_color,disp_size,resolution,os,num_cores,mp_speed,int_memory,ram,p_cam,f_cam,network,battery_power,mob_width,mob_height,mob_depth,mob_weight
0,"Realme Narzo 10A (So White, 32 GB)",8999,So White,16.56 cm (6.52 inch),1600 x 720 Pixels,10,8,2,32,3,12MP + 2MP + 2MP,5MP Front Camera,"4G VOLTE, 4G, 3G, 2G",5000,75,164.4,8.95,195
1,"Realme Narzo 10A (So Blue, 32 GB)",8999,So Blue,16.56 cm (6.52 inch),1600 x 720 Pixels,10,8,2,32,3,12MP + 2MP + 2MP,5MP Front Camera,"4G VOLTE, 4G, 3G, 2G",5000,75,164.4,8.95,195
2,"Realme Narzo 10A (So Blue, 64 GB)",9999,So Blue,16.56 cm (6.52 inch),1600 x 720 Pixels,10,8,2,64,4,12MP + 2MP + 2MP,5MP Front Camera,"4G VOLTE, 4G, 3G, 2G",5000,75,164.4,8.95,195
3,"Realme Narzo 10A (So White, 64 GB)",9999,So White,16.56 cm (6.52 inch),1600 x 720 Pixels,10,8,2,64,4,12MP + 2MP + 2MP,5MP Front Camera,"4G VOLTE, 4G, 3G, 2G",5000,75,164.4,8.95,195
4,"Realme Narzo 10 (That Green, 128 GB)",11999,That Green,16.51 cm (6.5 inch),1600 x 720 Pixels,10,8,2,128,4,48MP + 8MP + 2MP + 2MP,16MP Front Camera,"4G VOLTE, 4G, 3G, 2G",5000,75.4,164.4,9,199

In [24]:
df['mobile_color'].unique()

array(['So White', 'So Blue', 'That Green', 'That White', 'Crystal Green',
       'Sparkling Blue', 'Lunar White', 'Neptune Blue', 'Black Sea',
       'Pearl Blue', 'Pearl White', 'Rust Red', 'Moss Green',
       'Frozen Blue', 'Comet White', 'Lightning Orange', 'Lightning Blue',
       'Diamond Black', 'Diamond Blue', 'Diamond Ruby', 'Comet Blue',
       'Diamond Sapphire', 'Crystal Red', 'Crystal Blue',
       'Crystal Purple', 'Red Brick', 'Concrete', 'Pearl Green',
       'That Blue', 'Glacier Blue', 'Arctic White', 'Dynamic Black',
       'Diamond Red', 'Radiant Blue', 'Black', 'Sapphire Blue',
       'Onyx Black', 'Flame Red', 'Aurora Blue', 'Carbon Black',
       'More Than White', 'Space Black', 'Not just Blue', 'Kind of Grey',
       'Nebula Red', 'Gold', 'Rose Gold', 'Red', 'Twilight Grey',
       'Coral Green', 'Lake Blue', 'Metallic Grey', 'Emerald Green',
       'Ruby Red', 'Interstellar Black', 'Sea Blue', 'Midnight Grey',
       'Moonlight White', 'Sky White', 'Glacier White',
       'Astro Moonlight White', 'Sunset Red', 'Blue/Lake Blue', 'Blue',
       'Matte Black', 'Matte Gold', 'Elegant Blue', 'Prime Black', 'Grey',
       'Dark Grey', 'Burgundy Red', 'Thunder Black', 'Mineral Blue',
       'Fusion Blue', 'Phantom Purple', 'Agate Red', 'Mystic Black',
       'Jazzy Blue', 'Dreamy White', 'Fusion Black', 'Ocean Blue',
       'Iris Blue', 'Sonic Black', 'Sonic Blue', 'Magnetic Black',
       'Mystic Silver', 'Piano Black', 'Glacier ice white',
       'Midnight Ocean Black', 'Electric Blue', 'Skyline Blue',
       'Topaz Blue', 'Mystic Purple', 'Glacier Ice White',
       'Starry Night Black', 'Frozen Black', 'Starry Black',
       'Energetic Blue', 'Nebula Purple', 'White', 'Midnight Blue',
       'Raven Black', 'Prism Blue', 'Prism Black', 'Metallic gold',
       'Violet', 'Ocean Wave', 'Charcoal Blue', 'Forest Green',
       'Bordeaux Red', 'Tradew Gray', 'Milan Black', 'Ice Blue',
       'Berlin Gray', 'Midnight Black', 'Mocha Brown', 'Aqua Blue',
       'Sandstone Black', 'Blush Gold', 'Quetzal Cyan',
       'Bronze Gold Black', 'Nebula Blue', 'Twilight Purple',
       'Space Gray', 'Steel Blue', 'Graphite Black', 'Armoured Edition',
       'Rosso Red', 'Matrix Purple', 'Atlantis Blue', 'Phoenix Red',
       'Green and Greener', 'Out of the Blue', 'Two Shades of Black',
       'Fantasy White', 'Mystery Black', 'Marine Green', 'Unicorn White',
       'Blazing Blue', 'Twilight Black', 'Stream White', 'Deep Blue',
       'Flowing Silver', 'Green', 'Space Purple', 'Lightening Black',
       'Auroral Blue', 'Ocean Green', 'Luminous Black', 'Champagne',
       'Vanilla Mint', 'Sunrise Red', 'Astral Blue', 'Marble Green',
       'Glaring Gold', 'Twilight Blue', 'Starry Purple', 'Glaze Blue',
       'Purple', 'Waterfall Grey', 'Radiant Mist', 'Fluorite Purple',
       'Jewelry White', 'Stellar Purple', 'Jet Black'], dtype=object)

In [25]:
df[['dummy1','dummy2','mobile_color']]=df['mobile_color'].str.rpartition(' ')

In [26]:
df.drop(['dummy1','dummy2'],axis=1,inplace=True)

In [27]:
df['mobile_color'].value_counts()

Blue         119
Black        115
Red           53
White         40
Gold          34
Purple        24
Green         21
Grey          14
Violet         5
Gray           4
Mint           3
Silver         3
Greener        3
Mist           2
Cyan           2
Sapphire       2
Brick          2
Concrete       2
Wave           2
Edition        2
Champagne      1
Orange         1
Brown          1
Sea            1
white          1
Ruby           1
gold           1
Name: mobile_color, dtype: int64

In [28]:
df['mobile_color']=df['mobile_color'].replace({'Greener':'Green','white':'White','gold':'Gold','Gray':'Grey'})

In [29]:
df['mobile_color'].value_counts()

Blue         119
Black        115
Red           53
White         41
Gold          35
Green         24
Purple        24
Grey          18
Violet         5
Silver         3
Mint           3
Edition        2
Cyan           2
Wave           2
Concrete       2
Brick          2
Sapphire       2
Mist           2
Brown          1
Ruby           1
Orange         1
Champagne      1
Sea            1
Name: mobile_color, dtype: int64

In [30]:
df[['mobile_name','dummy1','dummy2']]=df['mobile_name'].str.partition(' ')

In [31]:
df.drop(['dummy1','dummy2'],axis=1,inplace=True)

In [32]:
df['mobile_name'].value_counts()

Vivo       96
Redmi      93
OPPO       86
Realme     79
Infinix    36
POCO       31
Mi         20
Samsung    17
MI3         1
Name: mobile_name, dtype: int64

In [33]:
df['network'].head()

0    4G VOLTE, 4G, 3G, 2G
1    4G VOLTE, 4G, 3G, 2G
2    4G VOLTE, 4G, 3G, 2G
3    4G VOLTE, 4G, 3G, 2G
4    4G VOLTE, 4G, 3G, 2G
Name: network, dtype: object

In [34]:
df['network']=df['network'].str.replace(' ','')

In [35]:
df['network']=df['network'].apply(lambda x: sorted(x.split(',')))

In [36]:
df['network'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[2G, 3G, 4G, 4GVOLTE]        238
[2G, 3G, 4GVOLTE]             99
[2G, 3G, 4G]                  68
[3G, 4GVOLTE]                 18
[3G, 4G, 4GVOLTE]             13
[4GVOLTE]                      8
[4GVOLTE, 5G]                  4
[2G, 3G, 4G, 4GVOLTE, 5G]      3
[4G, 4GVOLTE]                  3
[2G]                           2
[3G, 4G]                       2
[3G]                           1
Name: network, dtype: int64

In [37]:
from sklearn.preprocessing import MultiLabelBinarizer

mlb=MultiLabelBinarizer()
dg=pd.DataFrame(mlb.fit_transform(df['network']),columns=mlb.classes_,index=df.index)

In [38]:
dg

     2G  3G  4G  4GVOLTE  5G
0     1   1   1        1   0
1     1   1   1        1   0
2     1   1   1        1   0
3     1   1   1        1   0
4     1   1   1        1   0
..   ..  ..  ..      ...  ..
454   1   1   0        1   0
455   1   1   1        1   0
456   1   1   1        0   0
457   1   1   1        1   0
458   1   1   1        1   0

[459 rows x 5 columns]

In [39]:
df=pd.merge(df,dg,left_index=True,right_index=True)

In [40]:
df.drop('network',axis=1,inplace=True)

In [41]:
df.head()

,mobile_name,mobile_price,mobile_color,disp_size,resolution,os,num_cores,mp_speed,int_memory,ram,...,battery_power,mob_width,mob_height,mob_depth,mob_weight,2G,3G,4G,4GVOLTE,5G
0,Realme,8999,White,16.56 cm (6.52 inch),1600 x 720 Pixels,10,8,2,32,3,...,5000,75,164.4,8.95,195,1,1,1,1,0
1,Realme,8999,Blue,16.56 cm (6.52 inch),1600 x 720 Pixels,10,8,2,32,3,...,5000,75,164.4,8.95,195,1,1,1,1,0
2,Realme,9999,Blue,16.56 cm (6.52 inch),1600 x 720 Pixels,10,8,2,64,4,...,5000,75,164.4,8.95,195,1,1,1,1,0
3,Realme,9999,White,16.56 cm (6.52 inch),1600 x 720 Pixels,10,8,2,64,4,...,5000,75,164.4,8.95,195,1,1,1,1,0
4,Realme,11999,Green,16.51 cm (6.5 inch),1600 x 720 Pixels,10,8,2,128,4,...,5000,75.4,164.4,9,199,1,1,1,1,0

In [42]:
df['disp_size']=df['disp_size'].replace('\scm\s\(.+\)','',regex=True)

In [43]:
df['disp_size'].unique()

array(['16.56', '16.51', '16.0', '16.26', '16.36', '16.76', '15.49',
       '16.69', '15.8', '16.23', '16.94', '15.44', '15.21', '15.9',
       '12.7', '15.46', '13.97', '13.84', '16.13', '16.21', '16.59',
       '16.28', '16.74', '14.48', '15.24', '13.21', '17.02', '11.94',
       '15.06', '15.75', '15.72', '14.35', '15.19', '15.77', '15.7',
       '15.82'], dtype=object)

In [44]:
df['resolution'].unique()

array(['1600 x 720 Pixels', '2340 x 1080 pixels', '2400 x 1080 Pixels',
       '1080 x 2340 Pixels', '1080 x 2400 Pixels', '720 x 1600 Pixels',
       '1560 x 720 pixels', '2400 × 1080 Pixels', '1520 x 720 pixels',
       '1520 x 720 Pixels', '2400 x 1080 pixel', '1560 x 720 Pixels',
       '2160 x 1080 Pixels', '1440 x 720 pixels', '2280 x 1080 pixels',
       '2160 x 1080 pixels', '2340 x 1080 Pixel', '1920 x 1080 Pixels',
       '1520 x 720$$Pixels', '1520 x 720$$pixel', '2280 x 1080$$Pixels',
       '1920 x 1080 pixels', '2400 x 1080 Pixel', '1280 x 720 pixels',
       '2400 x 1080$$pixel', '1280 x 720 Pixels', '720 x 1544 pixels',
       '720 x 1544 Pixels', '2340 x 1080 Pixels', '2316 x 1080 pixels',
       '2280 x 1080 Pixels', '1440 x 720 Pixels', '1440 x 720 Pixel',
       '1520 x 720$$ pixels', '1520 x 720$pixels', '2340 x 1080$$pixel',
       '2340 x 1080$$Pixel', '960 x 540 Pixels', '540 x 960 Pixels',
       '1080 x 2160 pixels', '1500 x 720 pixels', '720 x 1440 Pixels',
       '720*1440 Pixels', '1080 x 1920 Pixels', '720 x 1520 pixels',
       '1080 x 2340 pixels', '720 x 1560 pixels', '720 x 1280'],
      dtype=object)

In [45]:
df['resolution']=df['resolution'].replace('\s?[pP]ixel.*','',regex=True).replace('\s?[x*×]\s?','X',regex=True).replace('\$','',regex=True)
df['resolution'].unique()

array(['1600X720', '2340X1080', '2400X1080', '1080X2340', '1080X2400',
       '720X1600', '1560X720', '1520X720', '2160X1080', '1440X720',
       '2280X1080', '1920X1080', '1280X720', '720X1544', '2316X1080',
       '960X540', '540X960', '1080X2160', '1500X720', '720X1440',
       '1080X1920', '720X1520', '720X1560', '720X1280'], dtype=object)

In [46]:
df[['res_dim_1','sep','res_dim_2']]=df['resolution'].str.partition('X')

In [47]:
df.drop('sep',axis=1,inplace=True)

In [48]:
df['res_dim_1'].unique(),df['res_dim_2'].unique()

(array(['1600', '2340', '2400', '1080', '720', '1560', '1520', '2160',
        '1440', '2280', '1920', '1280', '2316', '960', '540', '1500'],
       dtype=object),
 array(['720', '1080', '2340', '2400', '1600', '1544', '540', '960',
        '2160', '1440', '1920', '1520', '1560', '1280'], dtype=object))

In [49]:
df['res_dim_1']=df['res_dim_1'].astype(int)
df['res_dim_2']=df['res_dim_2'].astype(int)

In [50]:
df['res_dim_1'].dtype,df['res_dim_2'].dtype

(dtype('int32'), dtype('int32'))

In [51]:
df['resolution']=df['res_dim_1']*df['res_dim_2']

In [52]:
df['resolution'].unique()

array([1152000, 2527200, 2592000, 1123200, 1094400, 2332800, 1036800,
       2462400, 2073600,  921600, 1111680, 2501280,  518400, 1080000])

In [53]:
df.drop(['res_dim_1','res_dim_2'],axis=1,inplace=True)

In [54]:
df['p_cam']

0            12MP + 2MP + 2MP
1            12MP + 2MP + 2MP
2            12MP + 2MP + 2MP
3            12MP + 2MP + 2MP
4      48MP + 8MP + 2MP + 2MP
                ...
454          13MP Rear Camera
455          13MP Rear Camera
456          16MP Rear Camera
457                48MP + 5MP
458                48MP + 5MP
Name: p_cam, Length: 459, dtype: object

In [55]:
df['p_cam_max']=[x[0:2].replace('M','') for x in df['p_cam']]
df['p_cam_count'] = [x.count('MP') for x in df['p_cam']]

In [56]:
df['f_cam']

0       5MP Front Camera
1       5MP Front Camera
2       5MP Front Camera
3       5MP Front Camera
4      16MP Front Camera
             ...
454     8MP Front Camera
455     8MP Front Camera
456    25MP Front Camera
457    16MP Front Camera
458    16MP Front Camera
Name: f_cam, Length: 459, dtype: object

In [57]:
df['f_cam_max']=[x[0:2].replace('M','') for x in df['f_cam']]
df['f_cam_count'] = [x.count('MP') for x in df['f_cam']]

In [58]:
df.drop(['f_cam','p_cam'],axis=1,inplace=True)

In [59]:
df.head()

,mobile_name,mobile_price,mobile_color,disp_size,resolution,os,num_cores,mp_speed,int_memory,ram,...,mob_weight,2G,3G,4G,4GVOLTE,5G,p_cam_max,p_cam_count,f_cam_max,f_cam_count
0,Realme,8999,White,16.56,1152000,10,8,2,32,3,...,195,1,1,1,1,0,12,3,5,1
1,Realme,8999,Blue,16.56,1152000,10,8,2,32,3,...,195,1,1,1,1,0,12,3,5,1
2,Realme,9999,Blue,16.56,1152000,10,8,2,64,4,...,195,1,1,1,1,0,12,3,5,1
3,Realme,9999,White,16.56,1152000,10,8,2,64,4,...,195,1,1,1,1,0,12,3,5,1
4,Realme,11999,Green,16.51,1152000,10,8,2,128,4,...,199,1,1,1,1,0,48,4,16,1

In [60]:
df_mobile_name=pd.get_dummies(df['mobile_name'],dtype=int)

In [61]:
df_mobile_name

     Infinix  MI3  Mi  OPPO  POCO  Realme  Redmi  Samsung  Vivo
0          0    0   0     0     0       1      0        0     0
1          0    0   0     0     0       1      0        0     0
2          0    0   0     0     0       1      0        0     0
3          0    0   0     0     0       1      0        0     0
4          0    0   0     0     0       1      0        0     0
..       ...  ...  ..   ...   ...     ...    ...      ...   ...
454        0    0   0     1     0       0      0        0     0
455        0    0   0     1     0       0      0        0     0
456        0    0   0     1     0       0      0        0     0
457        0    0   0     1     0       0      0        0     0
458        0    0   0     1     0       0      0        0     0

[459 rows x 9 columns]

In [62]:
df_mobile_color=pd.get_dummies(df['mobile_color'],dtype=int)

In [63]:
df_mobile_color

,Black,Blue,Brick,Brown,Champagne,Concrete,Cyan,Edition,Gold,Green,...,Orange,Purple,Red,Ruby,Sapphire,Sea,Silver,Violet,Wave,White
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
454,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
455,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
456,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
457,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
458,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [64]:
df=pd.concat([df,df_mobile_name,df_mobile_color],axis=1)

In [65]:
df

,mobile_name,mobile_price,mobile_color,disp_size,resolution,os,num_cores,mp_speed,int_memory,ram,...,Orange,Purple,Red,Ruby,Sapphire,Sea,Silver,Violet,Wave,White
0,Realme,8999,White,16.56,1152000,10,8,2,32,3,...,0,0,0,0,0,0,0,0,0,1
1,Realme,8999,Blue,16.56,1152000,10,8,2,32,3,...,0,0,0,0,0,0,0,0,0,0
2,Realme,9999,Blue,16.56,1152000,10,8,2,64,4,...,0,0,0,0,0,0,0,0,0,0
3,Realme,9999,White,16.56,1152000,10,8,2,64,4,...,0,0,0,0,0,0,0,0,0,1
4,Realme,11999,Green,16.51,1152000,10,8,2,128,4,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
454,OPPO,13490,Black,14.48,1036800,7,8,2.5,32,3,...,0,0,0,0,0,0,0,0,0,0
455,OPPO,9490,Red,14.48,1036800,7,8,2.5,16,2,...,0,0,1,0,0,0,0,0,0,0
456,OPPO,22990,Red,15.82,2462400,8,8,2,64,4,...,0,0,1,0,0,0,0,0,0,0
457,OPPO,13990,Green,16.59,2527200,9,8,2.1,128,4,...,0,0,0,0,0,0,0,0,0,0
458,OPPO,13990,Purple,16.59,2527200,9,8,2.1,128,4,...,0,1,0,0,0,0,0,0,0,0

In [66]:
df.drop(['mobile_name','mobile_color'],axis=1,inplace=True)

In [67]:
df.dtypes

mobile_price     object
disp_size        object
resolution        int32
os               object
num_cores         int64
mp_speed         object
int_memory       object
ram              object
battery_power    object
mob_width        object
mob_height       object
mob_depth        object
mob_weight       object
2G                int32
3G                int32
4G                int32
4GVOLTE           int32
5G                int32
p_cam_max        object
p_cam_count       int64
f_cam_max        object
f_cam_count       int64
Infinix           int32
MI3               int32
Mi                int32
OPPO              int32
POCO              int32
Realme            int32
Redmi             int32
Samsung           int32
Vivo              int32
Black             int32
Blue              int32
Brick             int32
Brown             int32
Champagne         int32
Concrete          int32
Cyan              int32
Edition           int32
Gold              int32
Green             int32
Grey              int32
Mint              int32
Mist              int32
Orange            int32
Purple            int32
Red               int32
Ruby              int32
Sapphire          int32
Sea               int32
Silver            int32
Violet            int32
Wave              int32
White             int32
dtype: object

In [68]:
df.select_dtypes(include='number').columns

Index(['resolution', 'num_cores', '2G', '3G', '4G', '4GVOLTE', '5G',
       'p_cam_count', 'f_cam_count', 'Infinix', 'MI3', 'Mi', 'OPPO', 'POCO',
       'Realme', 'Redmi', 'Samsung', 'Vivo', 'Black', 'Blue', 'Brick', 'Brown',
       'Champagne', 'Concrete', 'Cyan', 'Edition', 'Gold', 'Green', 'Grey',
       'Mint', 'Mist', 'Orange', 'Purple', 'Red', 'Ruby', 'Sapphire', 'Sea',
       'Silver', 'Violet', 'Wave', 'White'],
      dtype='object')

In [69]:
df.select_dtypes(include='object').columns

Index(['mobile_price', 'disp_size', 'os', 'mp_speed', 'int_memory', 'ram',
       'battery_power', 'mob_width', 'mob_height', 'mob_depth', 'mob_weight',
       'p_cam_max', 'f_cam_max'],
      dtype='object')

In [70]:
int_col_list=['mobile_price', 'os',  'int_memory', 'ram',
       'battery_power',
       'p_cam_max', 'f_cam_max']

In [71]:
float_col_list=['disp_size','mp_speed', 'mob_height', 'mob_width', 'mob_depth', 'mob_weight']

In [72]:
df[int_col_list]=df[int_col_list].astype(int)
df[float_col_list]=df[float_col_list].astype(float)

In [73]:
df.dtypes.value_counts()

int32      45
float64     6
int64       3
dtype: int64

In [74]:
df.duplicated().sum()

55

In [75]:
df.drop_duplicates(keep=False, inplace=True)

In [76]:
df.shape

(350, 54)

In [77]:
df.head()

,mobile_price,disp_size,resolution,os,num_cores,mp_speed,int_memory,ram,battery_power,mob_width,...,Orange,Purple,Red,Ruby,Sapphire,Sea,Silver,Violet,Wave,White
0,8999,16.56,1152000,10,8,2.0,32,3,5000,75.0,...,0,0,0,0,0,0,0,0,0,1
1,8999,16.56,1152000,10,8,2.0,32,3,5000,75.0,...,0,0,0,0,0,0,0,0,0,0
2,9999,16.56,1152000,10,8,2.0,64,4,5000,75.0,...,0,0,0,0,0,0,0,0,0,0
3,9999,16.56,1152000,10,8,2.0,64,4,5000,75.0,...,0,0,0,0,0,0,0,0,0,1
4,11999,16.51,1152000,10,8,2.0,128,4,5000,75.4,...,0,0,0,0,0,0,0,0,0,0

In [78]:
X = df.drop('mobile_price', axis = 1)

y = df['mobile_price']

In [79]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [85]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr

LinearRegression()

In [86]:
lr.fit(X_train, y_train)

LinearRegression()

In [87]:
y_pred = lr.predict(X_test)
y_pred

array([12620.54387277, 11047.44812861, 37245.63421109, 14303.48223176,
       25797.26029994, 25627.87419348,  9096.86236065, 12289.16451374,
       21084.97269114, 16113.73100907, 20156.52039051,  6468.70741652,
       10250.06361512, 11568.04250105, 23501.50043489,  5288.13758841,
        9486.68514732, 20634.26828036, 22899.71428623,  3485.7730761 ,
       13849.66140635, 37613.10213342, 20691.50481864, 14796.12180764,
       14121.03455115,  6059.8292058 ,  4554.72093972, 15963.76612166,
       11418.00164146,  9143.0892077 , 21215.99903137, 10686.47244249,
       19972.34483111, 11228.73322418, 17998.20622158,  8776.54258148,
       23975.76497919, 18453.97971325,  9797.56548819, 17210.23217512,
        6410.85305461,  8663.35373142, 18847.57176675, 13502.26879632,
        9072.84112923,  9904.30156978, 14524.26399129, 12186.37580697,
       51652.91071206, 13073.55480211, 19426.31361125,  8992.40172525,
       17182.942771  , 12778.99595256, 14316.45846475,  9750.68282641,
       37430.52594671,  9075.44030993, 12651.54337337, 12965.76236944,
       21620.77628075, 15719.30464714, 23858.79773741, 20533.65352688,
       19725.61596935, 12555.84911391, 19006.86299144, 19459.36111838,
       10116.21427914, 21977.5034385 ])

In [88]:
X_test

,disp_size,resolution,os,num_cores,mp_speed,int_memory,ram,battery_power,mob_width,mob_height,...,Orange,Purple,Red,Ruby,Sapphire,Sea,Silver,Violet,Wave,White
200,16.13,1111680,9,8,2.0,64,4,5000,76.77,159.43,...,0,0,1,0,0,0,0,0,0,0
436,13.21,921600,7,8,1.8,16,3,3000,73.80,148.10,...,0,0,0,0,0,0,0,0,0,0
396,16.76,2527200,9,8,2.8,256,8,4065,77.20,162.00,...,0,0,0,0,0,0,0,0,0,0
311,16.59,2527200,10,8,2.3,64,4,4000,76.88,162.50,...,0,0,0,0,0,0,0,0,0,0
198,16.21,2527200,9,8,2.3,128,8,4500,75.23,159.53,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,15.46,1123200,9,8,2.0,64,4,4030,71.85,153.48,...,0,0,0,0,0,0,0,0,0,0
225,16.21,2527200,9,8,2.0,128,4,4500,75.23,159.53,...,0,0,0,0,0,0,0,0,0,0
223,16.21,2527200,9,8,2.0,128,4,4500,75.23,159.53,...,0,0,0,0,0,0,0,0,0,0
259,15.80,1094400,8,8,2.0,32,3,4030,75.09,155.11,...,0,0,0,0,0,0,0,0,0,0
407,16.00,2527200,8,8,2.0,64,6,3500,74.00,156.70,...,0,0,1,0,0,0,0,0,0,0

In [89]:
y_test

200    12990
436     8490
396    41990
311    11499
198    18990
       ...
121    12999
225    16990
223    16990
259     9990
407    19990
Name: mobile_price, Length: 70, dtype: int32

In [90]:
y_pred

array([12620.54387277, 11047.44812861, 37245.63421109, 14303.48223176,
       25797.26029994, 25627.87419348,  9096.86236065, 12289.16451374,
       21084.97269114, 16113.73100907, 20156.52039051,  6468.70741652,
       10250.06361512, 11568.04250105, 23501.50043489,  5288.13758841,
        9486.68514732, 20634.26828036, 22899.71428623,  3485.7730761 ,
       13849.66140635, 37613.10213342, 20691.50481864, 14796.12180764,
       14121.03455115,  6059.8292058 ,  4554.72093972, 15963.76612166,
       11418.00164146,  9143.0892077 , 21215.99903137, 10686.47244249,
       19972.34483111, 11228.73322418, 17998.20622158,  8776.54258148,
       23975.76497919, 18453.97971325,  9797.56548819, 17210.23217512,
        6410.85305461,  8663.35373142, 18847.57176675, 13502.26879632,
        9072.84112923,  9904.30156978, 14524.26399129, 12186.37580697,
       51652.91071206, 13073.55480211, 19426.31361125,  8992.40172525,
       17182.942771  , 12778.99595256, 14316.45846475,  9750.68282641,
       37430.52594671,  9075.44030993, 12651.54337337, 12965.76236944,
       21620.77628075, 15719.30464714, 23858.79773741, 20533.65352688,
       19725.61596935, 12555.84911391, 19006.86299144, 19459.36111838,
       10116.21427914, 21977.5034385 ])

In [91]:
from sklearn.metrics import r2_score
r2_score(y_pred, y_test)

0.8770044678691373